In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("forestfires.csv")

In [3]:
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [4]:
data_p1=df.iloc[0:258]
data_p2=df.iloc[259:517]

In [5]:
data_p1

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
253  7  4   aug  thu  91.9  109.2  565.5   8.0  21.4  38   2.7   0.0   1.52
254  6  3   aug  thu  91.6  138.1  621.7   6.3  18.9  41   3.1   0.0  10.34
255  2  5   aug  thu  87.5   77.0  694.8   5.0  22.3  46   4.0   0.0   0.00
256  8  6   aug  sat  94.2  117.2  581.1  11.0  23.9  41   2.2   0.0   8.02
257  4  3   aug  sat  94.2  117.2  581.1  11.0  21.4  44   2.7   0.0   0.68

[258 rows x 13 columns]

In [6]:
data_p2

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
259  7  4   aug  sat  91.8  170.9  692.3  13.7  23.7  40   1.8   0.0   1.38
260  2  4   aug  mon  93.6   97.9  542.0  14.4  28.3  32   4.0   0.0   8.85
261  3  4   aug  fri  91.6  112.4  573.0   8.9  11.2  84   7.6   0.0   3.30
262  2  4   aug  fri  91.6  112.4  573.0   8.9  21.4  42   3.1   0.0   4.25
263  6  3   aug  fri  91.1  141.1  629.1   7.1  19.3  39   3.6   0.0   1.56
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[258 rows x 13 columns]

In [7]:
merge_df=pd.concat([data_p1,data_p2],axis=0)

In [8]:
merge_df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[516 rows x 13 columns]

In [9]:
print(merge_df.columns)

Index(['X', 'Y', 'month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH',
       'wind', 'rain', 'area'],
      dtype='object')

In [10]:
sort_df=merge_df.sort_values(["month","day"])

In [11]:
sort_df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
241  4  4   apr  fri  83.0   23.3   85.3   2.3  16.7  20   3.1   0.0   0.00
442  6  5   apr  mon  87.9   24.9   41.6   3.7  10.9  64   3.1   0.0   3.35
19   6  4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0   0.00
239  7  5   apr  sun  81.9    3.0    7.9   3.5  13.4  75   1.8   0.0   0.00
469  6  3   apr  sun  91.0   14.6   25.6  12.3  13.7  33   9.4   0.0  61.13
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
313  6  5   sep  wed  92.6  115.4  777.1   8.8  24.3  27   4.9   0.0   0.00
314  4  4   sep  wed  92.6  115.4  777.1   8.8  19.7  41   1.8   0.0   1.58
315  3  4   sep  wed  91.2  134.7  817.5   7.2  18.5  30   2.7   0.0   0.00
404  2  4   sep  wed  87.9   84.8  725.1   3.7  21.8  34   2.2   0.0   6.04
448  7  4   sep  wed  89.7  284.9  844.0  10.1  10.5  77   4.0   0.0   0.00

[516 rows x 13 columns]

In [12]:
transpose_df=sort_df.transpose()

In [13]:
transpose_df

,241,442,19,239,469,470,176,196,240,12,...,178,193,218,224,230,313,314,315,404,448
X,4,6,6,7,6,5,6,6,6,6,...,2,4,4,7,4,6,4,3,2,7
Y,4,5,4,5,3,4,5,5,3,5,...,5,5,5,4,4,5,4,4,4,4
month,apr,apr,apr,apr,apr,apr,apr,apr,apr,aug,...,sep,sep,sep,sep,sep,sep,sep,sep,sep,sep
day,fri,mon,sat,sun,sun,sun,thu,thu,wed,fri,...,wed,wed,wed,wed,wed,wed,wed,wed,wed,wed
FFMC,83.0,87.9,86.3,81.9,91.0,91.0,81.5,81.5,88.0,63.5,...,90.1,92.9,92.9,90.1,92.9,92.6,92.6,91.2,87.9,89.7
DMC,23.3,24.9,27.4,3.0,14.6,14.6,9.1,9.1,17.2,70.8,...,82.9,133.3,133.3,82.9,133.3,115.4,115.4,134.7,84.8,284.9
DC,85.3,41.6,97.1,7.9,25.6,25.6,55.2,55.2,43.5,665.3,...,735.7,699.6,699.6,735.7,699.6,777.1,777.1,817.5,725.1,844.0
ISI,2.3,3.7,5.1,3.5,12.3,12.3,2.7,2.7,3.8,0.8,...,6.2,9.2,9.2,6.2,9.2,8.8,8.8,7.2,3.7,10.1
temp,16.7,10.9,9.3,13.4,13.7,17.6,5.8,5.8,15.2,17.0,...,18.3,24.3,19.4,15.4,26.4,24.3,19.7,18.5,21.8,10.5
RH,20,64,44,75,33,27,54,54,51,72,...,45,25,19,57,21,27,41,30,34,77
wind,3.1,3.1,4.5,1.8,9.4,5.8,5.8,5.8,2.7,6.7,...,2.2,4.0,1.3,4.5,4.5,4.9,1.8,2.7,2.2,4.0
rain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
area,0.0,3.35,0.0,0.0,61.13,0.0,4.61,10.93,0.0,0.0,...,4.88,9.41,31.72,37.71,88.49,0.0,1.58,0.0,6.04,0.0

In [14]:
shape = sort_df.shape

In [15]:
shape

(516, 13)

In [ ]:
# Transformation

from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder object
label_encoder = LabelEncoder()

# List of columns containing categorical data
categorical_cols = ['month', 'day']

# Apply LabelEncoder to each categorical column
for col in categorical_cols:
    sort_df[col] = label_encoder.fit_transform(sort_data[col])

# Display the transformed DataFrame
print(sort_data)